@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #606c38;
  --primary-color-dark: #283618;
  --accent-color: #bc6c25;
  --text-color-normal: #fefae0;
  --text-color-alternate: #dda15e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--primary-color-dark);
  z-index: 1;
}

.menu {
  list-style: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  color: var(--accent-color);
  text-align: left;
}

.menu-item {
  display: inline-block;
  padding: 20px;
  transition: 1s;
}

.menu-item a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color-dark);
}

.menu-item a {
  padding: 20px;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 1s;
}

.div-menu {
  float: left;
}

.div-logo {
  float: right;
  margin-right: 120px;
}

.logo {
  text-decoration: none;
  position: fixed;
  float: right;
  margin: 16px 16px;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-right-color: var(--primary-color-dark);
  border-left-color: var(--primary-color);
  border-radius: 50px;
  border-style: groove;
  border-width: 10px;
}

.introduction {
  padding-left: 50px;
  padding-right: 10px;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.half-section {
  width: 50%;
}

.img-container {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
  
}

.img-container img {
  height: 50%;
  width: 45vw;
}

h1 {
  margin: 100px 0 0 0;
  font-size: 60px;
  font-weight: 900;
  color: var(--text-color-alternate);
  text-transform: uppercase;
}

h2 {
  margin: 80px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--text-color-normal);
  text-transform: uppercase;
}

.text-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  letter-spacing: 1px;
}

.video-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
}

.video-container video {
  height: 315px;
  width: auto;
}

p {
  margin: 80px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-normal);
  text-transform: none;
  padding-left: 5%;
}

/* Formulario de registro */
form .form-group {
  margin-bottom: 1rem;
}

form .form-control {
  /* display: block; */
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none;
}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: var(--accent-color);
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}
=======
.form-section {
  background-color: var(--primary-color-dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  letter-spacing: 1px;
}

.footer {
  width: 100vw;
  height:100vh;
  background-color: var(--accent-color);
  
}

.div-footer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}
