@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #606c38;
  --primary-color-dark: #283618;
  --accent-color: #bc6c25;
  --text-color-normal: #fefae0;
  --text-color-alternate: #dda15e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--primary-color-dark);
  z-index: 1;
}

.menu {
  list-style: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  color: var(--accent-color);
  text-align: left;
}

.menu-item {
  display: inline-block;
  padding: 20px;
  transition: 1s;
}

.menu-item a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color-dark);
}

.menu-item a {
  padding: 20px;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 1s;
}

.div-menu {
  float: left;
}

.div-logo {
  float: right;
  margin-right: 120px;
}

.logo {
  text-decoration: none;
  position: fixed;
  float: right;
  margin: 16px 16px;
  color: var(--accent-color);
  border-color: var(--accent-color);
  border-right-color: var(--primary-color-dark);
  border-left-color: var(--primary-color);
  border-radius: 50px;
  border-style: groove;
  border-width: 10px;
}

.introduction {
  padding-left: 50px;
  padding-right: 10px;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.half-section {
  width: 50%;
  
}

.img-container {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
}

.img-container img {
  height: 50%;
  width: 40vw;
}

.text-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  letter-spacing: 1px;
}

h1 {
  margin: 100px 0 0 0;
  font-size: 60px;
  font-weight: 900;
  color: var(--text-color-alternate);
  text-transform: uppercase;
}

h2 {
  margin: 80px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  color: var(--text-color-normal);
  text-transform: uppercase;
}

.video-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
}

.video-container video {
  height: 315px;
  width: auto;
}

p {
  margin: 80px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color-normal);
  text-transform: none;
  padding-left: 5%;
}

.form-section {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  width: 50vw;
  color: var(--text-color-normal);
}

/* Formulario de registro */
form .form-group {
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

form .form-control {
  /* display: block; */
  padding: 0.3rem 1rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none;
  width:100%;
}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 40px;
  margin: 10px auto;
  position:relative;
}

.btn-light {
  background: var(--accent-color);
  border: 1px solid var(--text-color-alternate);
  color: var(--text-color-normal);
  width: 100%;
  margin: 10px 15px;
}

.btn-light:hover {
  background: var(--text-color-normal);
  border: 1px solid var(--text-color-alternate);
  color: var(--accent-color);
}

.footer {
  width: 100vw;
  height:100vh;
  background-color: var(--accent-color);
}

.div-footer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

/* Datos del clima */
.weather-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-weather {
  background-color: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 50%;
  height: 50%;
  max-width: 420px;
  margin: 1em;
}

.img-weather {
  height: 40vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-color-normal);
  text-transform: uppercase;
}

/* Datos de ubicación */
.site-contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-container{
  width: 50vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts{
  width: 25vw;
}

.contacts img{
  height: 5vh;
  width: 5vw;
}